<div class="ui action input">
    <input type="text" ng-model="sl.itemDisplay" placeholder="{{ sl.placeholder }}" readonly />
    <button class="ui icon button {{ sl.getLoadingClass() }}" ng-click="sl.openModal()">
        <i class="search icon"></i>
    </button>
    <button ng-if="!sl.isRequired" class="ui icon button {{ sl.getLoadingClass() }}" ng-click="sl.clearItem()">
        <i class="remove icon"></i>
    </button>
</div>

<ez-modal-transclude class="small"
          em-header-text="{{ sl.title }}"
          em-primary-button-text="Select"
          em-secondary-button-text="Cancel"
          em-is-visible="sl.isModalVisible"
          em-on-deny="sl.onDeny()"
          em-on-hidden="sl.onHidden()"
          em-on-approve="sl.onApprove()"
          em-close-last="sl.closeLast">

          <content-slot>

                <div class="ui active inverted dimmer part-loader" ng-if="sl.requestRunning">
                    <div class="ui large text loader sr-only"><span>Loading...</span></div>
                </div>

                <ez-grid eg-grid-columns="sl.gridColumns"
                    eg-selected-item="sl.selectedItem"
                    eg-get-items="sl.getItems(request)"
                    eg-on-double-click="sl.onDoubleClickEvent()"
                    eg-item-id-field="sl.itemIdField">
                </ez-grid>
        </content-slot>
        
        <extra-actions-slot ng-transclude="actions">            
        </extra-actions-slot>

</ez-modal-transclude>

