/*
 * The underscore in the file name prevents the compiler from generating
 * a css file from this scss file. This file should not contain any styling -
 * only variables to be used elsewhere.
 */
$dark-grey: rgba(0, 0, 0, 0.3);
$ezlinks-blue: rgba(21, 40, 75, 1);
// semantic theme blue color
$primary-blue-color: RGBA(33, 133, 208, 1.00)
