<div class="ui action input" ng-class="::{ 'fluid' : dp.isFluent }">
    <input type="text" class="form-control"
            uib-datepicker-popup="{{::dp.format}}"
            ng-model="dp.date"
            ng-model-options="dp.modelOptions"
            ng-click="dp.toggleCalendar($event)"
            datepicker-popup="{{::dp.format}}"
            datepicker-popup-template-url="{{::dp.popupTemplate}}"
            datepicker-template-url="{{::dp.datePickerTemplate}}"
            is-open="dp.status.opened"
            min-date="dp.minDate"
            max-date="dp.maxDate"
            datepicker-options="dp.dateOptions"
            on-open-focus="false"
            popup-placement="{{::dp.placement}}"
            ng-required="true"
            readonly="readonly"
            close-text="Close"
            current-text="Today"/>
    <button class="ui icon button" ng-click="dp.toggleCalendar($event)">
        <i class="calendar icon"></i>
    </button>
</div>