.confirm-dialog {
	.content {
		text-align: center;
		font-size: 1.4em;
		margin: 0 auto;
		vertical-align: middle;
		.emphasis {
			font-weight: bolder;
			padding: 7px 0;
			margin-top: 10px;
			font-size: 110%;
		}
	}
	.actions {
		input {
			margin: auto 5px !important;
		}
	}

}
