<ez-modal
    em-class-name="confirm-dialog"
    em-header-text="{{cd.title}}"
    em-primary-button-text="Confirm"
    em-secondary-button-text="Cancel"
    em-is-visible="cd.visible"
    em-on-approve="cd.onOk()"
    em-on-deny="cd.onCancel()"
    em-is-loader-visible="cd.loader"
    em-on-hidden="cd.onHidden()">

    <div ng-bind="cd.body"></div>
    <div ng-if="cd.callout" class="emphasis" ng-bind="cd.callout"></div>

    <error-block class="margin-t10 dblock" eb-error="cd.errorBlock"></error-block>

</ez-modal>
